body{
	height:100%;
}

ul{
	list-style:none;
}


#diaanterior, #diahoy, #tareas{
	width:92%;
	font-size:10px;
	margin:.5%;
	padding:0px;
	color:#333;
}

table td{
	font-size:9px;
}

.titjuntac td{
	font-size: 12px;
}

.realizado td{
	color:#F00;
}

.finalizado td{
	color:#00F;
	text-decoration:underline;
}
.pendiente{
	
}

.reasignada td{
	color:#090;
	text-decoration:underline;
}